@import "src/styles/main";

.pgtc__input-view {
  &__container {

  }

  &__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
  }

  &__year-select {
    &-container {

    }

    &-lable {

    }

    &-input {

    }
  }

  &__income-input {
    &-container {

    }

    &-lable {

    }

    &-input {

    }
  }

  &__action-view {
    &-container {
      display: flex;
    }
    &-button {
      flex: 1;
    }
  }
}
